{% extends 'base.html' %} 


{% block backbtn %}
<div class="back-btn">
    <a href="{% url 'home' %}" class="btn btn-outline-success">Back</a>
</div>
{% endblock backbtn %}

{% block content %} 
<div id="page" class="hidden">
    {% if obf %} 
        {{obf}}
    {% endif %}
</div> 
<div class="container-fluid">
    <div id="ProfView" class="row p-3">
        <div class="col-6 text-end border-bottom border-top border-start border-success">
            <p class="pe-3 py-2">
                Name: <br>
                Email: <br>
                Connected IP's: <br>
                Connected Devices:

            </p>
        </div>
        <div class="col-6 text-start border-bottom border-top border-end border-success">
            <p class="ps-3 py-2">
                {{profile.name|title}} <br>
                {{profile.email|title}}<br>
                {{ips}}<br>
                {{devices}}
            </p>
        </div>
        <div class="col-12 text-center py-3 border-bottom border-success">
            <p class="text-danger fst-italic">
                Forgot Your Pin? <a href="{% url 'req_pin' %}" class="text-warning">Email A Copy</a> 
                <br>
                You will need your pin to unencrypt any saved credentials.
            </p>
        </div>
        <div class="editProfBtn">
            <a href="{% url 'edit_profile' %}" class="btn btn-success">Edit Profile</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <a href="{% url 'add_ip' %}" class="btn btn-outline-light w-75">
                Add A New IP
            </a>
        </div>
        <div class="col-6 text-center">
            <a href="{% url 'add_device' %}" class="btn btn-outline-light w-75">
                Add A New Device
            </a>
        </div>
    </div>
</div>

{% endblock %}