{% extends 'base.html' %} 


{% block backbtn %}
<div class="back-btn">
    <a href="{% url 'creds' %}" class="btn btn-outline-success">Back</a>
</div>
{% endblock backbtn %}

{% block content %} 
<div class="container-fluid">
    <div id="ProfView" class="row p-3">
        {% if stringout %} 
            <div class="col-12 text-center">
                <h1>
                    <u>
                        Error
                    </u>
                </h1>
                <hr class="w-25 mx-auto border border-success">
                <p class="fst-italic">
                    {{stringout}}
                </p>
            </div>
        {% else %} 
            <div id="copied" class="text-center text-success">
                <h2>Password Copied</h2>
            </div>
            <div id="credHold" class="row">
                <div class="col-12 text-center my-1">
                    <h1>
                        <u>
                            Credentials For {{service|title}}
                        </u>
                    </h1>
                    <p class="fst-italic text-capitalize">
                        Please click the reveal button below, this will uncover your details
                        for 5 seconds. You can also copy your password without revealing it by 
                        clicking the "Copy Password" button.
                    </p>
                </div>
                <div class="col-6 text-end border-bottom border-top border-start border-success">
                    
                    <p class="pe-3 py-2">
                        Service: <br>
                        Username: <br>
                        Password: <br>
                        Phone: <br>
                        Email: 
                    </p>
                </div>
                <div class="col-6 relative text-start border-bottom border-top border-end border-success">
                    <p id="bits" class="ps-3 py-2">
                    </p>
                    <div id="timers">
                        <p id="counter"></p>
                    </div>
                </div>
                <div id="btns" class="col-12 text-center">
                    <button id="reveal" class="btn btn-sm btn-outline-success mt-3 mx-3 rounded-3">Reveal</button>
                    <button id="copy" class="btn btn-sm btn-outline-info mt-3 mx-3 rounded-3">Copy Password</button>
                </div>
            </div>
            <script>
                $('#reveal').click(function(){
                    $('#timers').addClass('active');
                    let time = 5;
                    let x = setInterval(function() {
                        $('#bits').html('{{service|title}}<br>{{username}}<br>{{password}}<br>{{phone}}<br>{{email}}');
                        $('#counter').html(time);
                        if (time == 0){
                            $('#bits').html('');
                            $('#counter').html('')
                            $('#timers').removeClass('active');
                            clearInterval(x);
                        }
                        time -= 1;
                    }, 1000);
                });
                $("#copy").click(function(){
                    navigator.clipboard.writeText('{{password}}');
                    setTimeout(()=>{
                        $('#copied').addClass('active');
                        $("#reveal").addClass('active');
                        $("#copy").addClass('active');
                        $('#credHold').addClass('hide');
                    });
                    setTimeout(()=>{
                        $('#copied').removeClass('active');
                        $('#credHold').removeClass('hide');
                        $("#reveal").removeClass('active');
                        $("#copy").removeClass('active');
                    }, 2000);
                })
            </script>
        {% endif %}
    </div>
</div>

{% endblock %}