{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
  <div class="row text-dark">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center box-shadow my-5 bg-white rounded-3 border border-success">
      <hr class="w-50 mx-auto border border-success">
      <h1 class="logo-font mb-4 text-dark text-center">{% trans "Sign In" %}</h1>
      <hr class="w-50 mx-auto border border-success">

      <p class="text-dark">
        {% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-8 offset-2">
            {{ form|crispy }}
          </div>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Home</a>
        <button class="primaryAction btn btn-outline-black rounded-0" type="submit">{% trans "Sign In" %}</button>
        <p class="mt-2 small">
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
      </form>
    </div>
  </div>

{% endblock %}